.content__wrapper{
    display: none;
    flex-direction: column;
    width: 100%;
    flex: 1;
    min-height: 0;
    min-width: 0;
    /* padding-bottom: var(--space-xl); */

    .content__head{
        
        .head__name{
            font-size: var(--text-lg);
            padding: var(--space-md);
            border-bottom: 1px solid var(--border-color);
        }
        
        .head__options {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var(--space-md);
            border-bottom: 1px solid var(--border-color);

            .head__options-left {
                .head__search{
                    width: clamp(12rem, 18vw, 20rem);
                }
            }

            .head__options-right{
                display: flex;
                gap: var(--space-md);

                #btn-delete-bookmark{
                    display: none;
                }
            }
        }
    }

    .content__body {
        padding: var(--space-md);
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
        overflow: auto;
    }
}

@media (max-width: 768px){
    .content__wrapper {

        .content__head {

            .head__name {
                padding: var(--space-sm);
            }

            .head__options {
                padding: var(--space-sm) 0;
                flex-direction: column;
                gap: var(--space-sm);

                .head__options-left, .head__options-right{
                    width: 100%;
                }

                .head__options-left {
                    .head__search {
                        width: 100%;
                    }
                }
            }
        }
    }
}