.header{
    border-bottom: 1px solid var(--border-color);
    background-color: var(--gray-50);
    
    .header__name{
        padding: .8rem;
        border-right: 1px solid var(--border-color);
    }

    .header__main{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .header__search{
            display: flex;
            align-items: center;
            border: 1px solid var(--border-color);
            border-radius: var(--round-md);
            overflow: hidden;
            background-color: var(--bg-primary);
            outline: 2px solid transparent;
            transition: outline .1s ease;
            padding: calc(var(--space-sm));

            input{
                width: clamp(14rem, 25vw, 40rem);
                border: none;
                outline: none;
                font-family: inherit;
                font-weight: var(--font-regular);
                font-size: var(--text-sm);
            }
            
            button{
                border: none;
                background-color: transparent;
                color: var(--text-secondary);
            }

            &:focus-within{
                outline: 2px solid var(--focus-ring);
            }
        }
    }
}