.table__wrapper {
    width: 100%;
    flex: 1;
    min-height: 0;
    overflow-y: overlay;
    border-bottom: 1px solid var(--gray-300);

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        color: inherit;

        thead {
            tr {
                position: sticky;
                top: 0;
                left: 0;
                z-index: 2;
                background-color: var(--gray-100);
            }

            th {
                padding: var(--space-md);
                text-align: left;
                font-size: var(--text-sm);
                background-color: var(--gray-50);
                color: var(--gray-700);
            }
        }

        tbody {
            tr:hover{
                background-color: var(--gray-50);
            }
            
            td {
                padding: var(--space-md);
                font-size: var(--text-sm);
                border-top: none;
                max-width: 10rem;
                white-space: word-break;
                overflow: hidden;
                
                a {
                    color: var(--blue-600);
                    text-decoration: none;
                    white-space: break-word;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            td:first-child {
                border-left: none;
            }

            .tag-list {
                display: inline-flex;
                gap: var(--space-xs);
                flex-wrap: wrap;
            }
        }

        th,
        td {
            border-left: 1px solid var(--gray-300);
            border-bottom: 1px solid var(--gray-300);

            &:first-child {
                border-left: none;
            }
        }

        .td-link {
            text-decoration: none;
            color: var(--blue-600);

            svg {
                margin-left: var(--space-md);
                opacity: 0;
                transition: opacity .15s;
            }

            &:hover {
                svg{
                    opacity: 1;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--gray-100); /* Transparent track for floating effect */
        border-radius: var(--round-md);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(100, 100, 100, 0.6);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(80, 80, 80, 0.8);
    }
}
