.button-ghost{
    border: none;
    background-color: transparent;
    color: inherit;
    padding: calc(var(--space-sm) + var(--space-xs));
    border-radius: var(--round-lg);

    &:hover{
        background-color: var(--gray-200);
    }
}

.button-primary {
    font-family: inherit;
    border: none;
    background-color: var(--blue-600);
    color: white;
    padding: calc(var(--space-sm) + var(--space-xs)) var(--space-md);
    border-radius: var(--round-xl);
    font-size: var(--text-sm);
    font-weight: var(--font-bold);
    box-shadow: inset 0 0 9px -2px var(--blue-300);
    cursor: pointer;
    
    &:hover{
        background-color: var(--blue-700);
        box-shadow: 0 0 9px 0px var(--blue-200);
    }
}

.button-danger {
    font-family: inherit;
    border: none;
    background-color: var(--red-50);
    color: var(--red-700);
    padding: calc(var(--space-sm) + var(--space-xs)) var(--space-md);
    border-radius: var(--round-xl);
    font-size: var(--text-sm);
    font-weight: var(--font-bold);
    box-shadow: inset 0 0 9px -2px var(--red-200);
    cursor: pointer;
    
    &:hover{
        background-color: var(--red-300);
        box-shadow: 0 0 9px 0px var(--red-200);
    }
}