.u-icon {
    width: var(--text-lg);
    aspect-ratio: 1/1;
    vertical-align: middle;
    margin-top: -0.1rem;
    pointer-events: none;
}

.u-search {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: var(--round-md);
    overflow: hidden;
    background-color: var(--bg-primary);
    outline: 2px solid transparent;
    transition: outline 0.1s ease;
    padding: calc(var(--space-sm));

    input {
        width: 100%;
        border: none;
        outline: none;
        font-family: inherit;
        font-weight: var(--font-regular);
        font-size: var(--text-sm);
    }

    button {
        border: none;
        background-color: transparent;
        color: var(--text-secondary);
    }

    &:focus-within {
        outline: 2px solid var(--focus-ring);
    }
}

.u-tag {
    padding: var(--space-xs) var(--space-md);
    border-radius: 3rem;
    font-size: var(--text-xs);
    font-weight: var(--font-semi-bold);
    border-width: 2px;
    border-style: solid;
    /* text-transform: uppercase; */
}

.u-collection {
    padding: var(--space-xs) var(--space-md);
    background-color: #DFFAEE;
    color: #1A5E3A;
    border: 2px solid #82DDB8;
    border-radius: 3rem;
    font-size: var(--text-xs);
    font-weight: var(--font-semi-bold);
}